<div class="portfolio-container">
    <div id="portfolioHeader" class="portfolio-header">
        <div class="portfolio-content">
            <h1 class="portfolio-content-heading">Hi, I’m Mehul 👋</h1>
            <p>I have a deep passion for development and thrive on creating exceptional digital experiences that are
                fast, accessible, visually appealing, and responsive. As a full stack developer with expertise in
                Angular, NextJS (Node.js), and .NET, Java, I have dedicated over 4 years to crafting web applications.
                Despite the time spent, my love for this field remains as strong as ever, as I continuously seek out new
                challenges and opportunities for growth. I am excited about the endless possibilities that lie ahead in
                the world of technology and look forward to making a lasting impact through my work.</p>
            <div class="content"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none">
                    <path
                        d="M20 10C20 16 12 22 12 22C12 22 4 16 4 10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10Z"
                        stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
                        stroke="#D1D5DB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Hyderabad, India</div>
            <div class="availability-icon-wrapper">
                <div class="green-available-icon"></div>
                <div>Available for new opportunities and projects</div>
            </div>
        </div>
        <div class="portfolio-profile">
            <div class="portfolio-profile-pic">Lol</div>
            <div class="portfolio-profile-shadow"></div>
        </div>
    </div>
    <div id="portfolioAboutme" class="portfolio-aboutme">
        <div class="portfolio-aboutme-heading">
            <span class="portfolio-aboutme-heading-content">About Me</span>
        </div>
        <div style="display: flex; flex-direction: row; gap: 48px;">
            <div class="portfolio-profile">
                <div class="portfolio-profile-pic">Lol</div>
                <div class="portfolio-profile-black-shadow"></div>
            </div>
            <div>
                <h2>Curious about me? Here you have it:</h2>
                <p>I'm a passionate, full stack Software Developer (expertise in
                    Angular, React.js &
                    Node.js, ). I am very enthusiastic about bringing the technical and visual aspects of digital
                    products
                    to
                    life. User experience, pixel perfect design, and writing clear, readable, highly performant code
                    matters
                    to me.</p>
                <p>I began my journey as a Software Developement Engineer in 2019 from my college, and since then, I've
                    continued to grow and evolve as a
                    developer, taking on new challenges and learning the latest technologies along the way. Now, in my
                    early
                    twenties, 4 years after starting my web development journey, I'm building cutting-edge web
                    applications
                    using modern technologies such as Angular, Next.js, React.js, TypeScript, Nestjs, ASP.Net, Java,
                    Tailwindcss, AWS and much more.
                </p>
                <p></p>
            </div>
        </div>
    </div>

    <div id="portfolioHeaderSkills" class="portfolio-header-skills">
        <div style="padding-bottom: 2rem;">
            <div class="portfolio-aboutme-heading">
                <span class="portfolio-aboutme-heading-content">Skills</span>
            </div>
            <div style="text-align: center;">The skills, tools and technologies I am really good at:</div>
        </div>
        <div class="portfolio-header-skills-icons">
            <img src="../../assets/placeholders/angular-icon.svg" alt="angular">
            <img src="../../assets/placeholders/aws.svg" alt="aws">
            <img src="../../assets/placeholders/csharp.svg" alt="csharp">
            <img src="../../assets/placeholders/dot-net-core.svg" alt="asp.net">
            <img src="../../assets/placeholders/jasmine.svg" alt="jasmine-framework">
            <img src="../../assets/placeholders/java.svg" alt="java">
            <!-- <img style="background-color: aliceblue;" src="../../assets/placeholders/jenkins.svg" alt=""> -->
            <img src="../../assets/placeholders//microsoft-azure.svg" alt="">
            <img src="../../assets/placeholders/python.svg" alt="">
            <img src="../../assets/placeholders/spring.svg" alt="">
            <img src="../../assets/placeholders/icon-git.svg" alt="">
            <img src="../../assets/placeholders/icon-express.svg" alt="">
            <img src="../../assets/placeholders/icon-cypress.svg" alt="">
            <img src="../../assets/placeholders/icon-figma.svg" alt="">
            <img src="../../assets/placeholders/icon-javscript.svg" alt="">
            <img src="../../assets/placeholders/icon-mongodb.svg" alt="">
            <img src="../../assets/placeholders/icon-nest.svg" alt="">
            <img src="../../assets/placeholders/icon-nextjs.svg" alt="">
            <img src="../../assets/placeholders/icon-nodejs.svg" alt="">
            <img src="../../assets/placeholders/icon-postgresql.svg" alt="">
            <img src="../../assets/placeholders/icon-react.svg" alt="">
            <img src="../../assets/placeholders/icon-sass.svg" alt="">
            <img src="../../assets/placeholders/icon-storybook.svg" alt="">
            <img src="../../assets/placeholders/icon-socket.svg" alt="">
            <img src="../../assets/placeholders/icon-tailwindcss.svg" alt="">
            <img src="../../assets/placeholders/icon-typescript.svg" alt="">
        </div>
    </div>

    <div id="portfolioExperience" class="portfolio-aboutme">
        <div style="padding-bottom: 2rem;">
            <div class="portfolio-aboutme-heading">
                <span class="portfolio-aboutme-heading-content">Experience</span>
            </div>
            <div style="text-align: center;">Here is a quick summary of my most recent experiences:</div>
        </div>
        <div class="portfolio-aboutme-company">
            <img src="../../assets/placeholders/planful.svg" alt="Planful">
            <div>Software Development Engineer</div>
        </div>
        <div class="portfolio-aboutme-company">
            <img src="../../assets/placeholders/tcs.svg" alt="TCS">
            <div>Software Development Engineer</div>
        </div>
        <div class="portfolio-aboutme-company">
            <img src="../../assets/placeholders/geeksforgeeks.svg" alt="GeeksForGeeks">
            <div>Technical Content Writer</div>
        </div>
        <div class="portfolio-aboutme-company">
            <img src="../../assets/placeholders/geeksforgeeks.svg" alt="GeeksForGeeks">
            <div>Technical Content Writer</div>
        </div>
    </div>
    <div id="portfolioHeaderProject" class="portfolio-header-project">
        <div style="padding-bottom: 2rem;">
            <div class="portfolio-aboutme-heading">
                <span class="portfolio-aboutme-heading-content">Projects</span>
            </div>
            <div style="text-align: center;">Some of the noteworthy projects I have built:</div>
        </div>
        <div class="portfolio-header-project-content">
            <img src="../../assets/placeholders/default.png" alt="">
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, delectus vitae. Voluptatibus,
                minima accusamus incidunt voluptates accusantium deserunt maiores eveniet.</div>
        </div>
        <div class="portfolio-header-project-content">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos sequi in totam quam at dolor
                asperiores amet maiores? Fugit, ad!</div>
            <img src="../../assets/placeholders/default.png" alt="">
        </div>
        <div class="portfolio-header-project-content">
            <img src="../../assets/placeholders/default.png" alt="">
            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit aspernatur minus itaque ratione at,
                eveniet nostrum! Exercitationem vero qui modi.</div>

        </div>
    </div>

    <div id="portfolioServices" class="portfolio-services">
        <!-- Topmate etc -->
    </div>

    <div id="portfolioContactMe" class="portfolio-contactme">

    </div>

</div>