<mat-toolbar class="nav-toolbar">
  <mat-toolbar-row class="common-navbar-style">
    <div class="nav-toolbar-content">
      <span routerLink="/portfolio" class="home-link">{{title}}</span>
      <div class="misc-nav-content">
        <span (click)="scrollToContent('portfolioAboutme')">About Me</span>
        <span (click)="scrollToContent('portfolioHeaderSkills')">My Skills</span>
        <span (click)="scrollToContent('portfolioExperience')">Experience</span>
        <span (click)="scrollToContent('portfolioContactMe')">Contact Me</span>
        <span (click)="scrollToContent('portfolioHeaderProject')">Projects</span>
      </div>
      <div>
        <div class="portfolio-small-screen-dropdown" (click)="setIsSmallScreen()" id="portfolioSmallScreenButton">
          <svg stroke="currentColor" fill="none" stroke-width="2.0" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" class="portfolio-small-screen-dropdown-burger" height="1em" width="1em"
            xmlns="http://www.w3.org/2000/svg">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </div>

        <div
          [ngClass]="showToggleDropDownMenu ? 'portfolio-small-screen-dropdown-menu-visible' : 'portfolio-small-screen-dropdown-menu-hidden'">
          <div class="portfolio-small-screen-dropdown-list">
            <span (click)="scrollToContent('portfolioAboutme')">About Me</span>
            <span (click)="scrollToContent('portfolioHeaderSkills')">My Skills</span>
            <span (click)="scrollToContent('portfolioExperience')">Experience</span>
            <span (click)="scrollToContent('portfolioContactMe')">Contact Me</span>
            <span (click)="scrollToContent('portfolioHeaderProject')">Projects</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/admin">Admin</button>
    <button
      mat-flat-button
      style="margin-left: 20px"
      routerLink="create-blog-entry"
    >
      Create Post
    </button>
    <button mat-flat-button routerLink="/user" style="margin-left: 20px">
      Users
    </button> -->
    <!-- <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a> -->
    <!-- <mat-form-field
      style="margin: 18px 0px 0px 20px"
      name="loginRegisterDropDown"
    >
      <mat-select
        placeholder="login"
        (selectionChange)="navigateTo($event.value)"
      >
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="navigateTo('update-profile')"
          >Update Profile</mat-option
        >
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>