.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.home-link:hover {
  cursor: pointer;
}

.nav-toolbar {
  background: #030712;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}