<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Blog App</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/admin">Admin</button>
    <button mat-flat-button routerLink="/user" style="margin-left: 20px">
      Users
    </button>
    <!-- <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a> -->
    <mat-form-field
      style="margin: 18px 0px 0px 20px"
      name="loginRegisterDropDown"
    >
      <mat-select
        placeholder="login"
        (selectionChange)="navigateTo($event.value)"
      >
        <mat-option *ngFor="let entry of entries" [value]="entry.link">{{
          entry.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
