<mat-toolbar class="nav-toolbar">
  <mat-toolbar-row class="common-navbar-style">
    <div class="nav-toolbar-content">
      <span routerLink="/portfolio" class="home-link">{{title}}</span>
      <div class="misc-nav-content">
        <span (click)="scrollToContent('portfolioAboutme')">About Me</span>
        <span (click)="scrollToContent('portfolioHeaderSkills')">My Skills</span>
        <span (click)="scrollToContent('portfolioExperience')">Experience</span>
        <span (click)="scrollToContent('portfolioContactMe')">Contact Me</span>
        <span (click)="scrollToContent('portfolioHeaderProject')">Projects</span>
      </div>
    </div>
    <!-- <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/admin">Admin</button>
    <button
      mat-flat-button
      style="margin-left: 20px"
      routerLink="create-blog-entry"
    >
      Create Post
    </button>
    <button mat-flat-button routerLink="/user" style="margin-left: 20px">
      Users
    </button> -->
    <!-- <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a> -->
    <!-- <mat-form-field
      style="margin: 18px 0px 0px 20px"
      name="loginRegisterDropDown"
    >
      <mat-select
        placeholder="login"
        (selectionChange)="navigateTo($event.value)"
      >
        <mat-option (click)="navigateTo('login')">Login</mat-option>
        <mat-option (click)="navigateTo('register')">Register</mat-option>
        <mat-option (click)="navigateTo('update-profile')"
          >Update Profile</mat-option
        >
        <mat-option (click)="logout()">Logout</mat-option>
      </mat-select>
    </mat-form-field> -->
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>