.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.home-link:hover {
  cursor: pointer;
}

.nav-toolbar {
  background: #030712;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.common-navbar-style {
  border-bottom: 1px solid;
}

.nav-toolbar-content {
  display: flex;
  width: inherit;
  justify-content: flex-start;
}

.misc-nav-content {
  width: inherit;
  font-size: small;
  display: flex;
  justify-content: space-evenly;
}

.misc-nav-content>span {
  cursor: pointer;
}