<!-- <p>login works!</p>
<button (click)="login()"></button> -->

<h1 style="text-align: center">Login Page</h1>

<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="email"
          formControlName="email"
        />
        <mat-hint *ngIf="loginForm.controls['email'].errors"
          >Email is requied & In valid format</mat-hint
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-hint *ngIf="loginForm.controls['password'].errors"
          >Password is requied</mat-hint
        >
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="!loginForm.valid"
        type="submit"
      >
        Login
      </button>
    </div>

    <div class="example-form-fields">></div>
  </form>
</div>
